@import "typography";
@import "variables";

body {
  background-color: $light-color;
  color: $primary-color;

  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-block: 32px;
  padding-inline: 64px;

  &__about {
    margin-right: 40px;
  }

  &__work {
    margin-right: 40px;
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 2px $primary-color;

  &__text {
    max-width: 580px;
    align-self: flex-start;
  }

  &__button {
    display: inline-block;
    margin-top: 24px;
    padding-block: 8px;
    padding-inline: 24px;
    border: solid 1px $primary-color;
    border-radius: 24px;
  }


  &__image {
    border-radius: 40px;
    max-width: 35vw;
  }

}

.entry-content {

  padding-inline: 250px;

  &__info {
    font-size: $smaller-body;
    margin-bottom: 16px;
  }

  &__header {
    margin-bottom: 24px;
  }

}

.recent-posts {

  &__header {
    margin-bottom: 48px;
  }

  &__info {
    margin-top: 40px;
    font-size: $smaller-body;
  }

  &__title {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  &__subhead {
    max-width: 50vw;
    padding-bottom: 40px;
    border-bottom: solid 1px $primary-color;
  }

  &__subhead:last-child {
    border-bottom: none;
  }
}