@import "typography";
@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $light-color;
  color: $primary-color;
  margin: 0px;
}

a {
  color: $primary-color;
}

// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;

//   margin-block: 32px;
//   padding-inline: 64px;

//   &__about {
//     margin-right: 40px;
//   }

//   &__work {
//     margin-right: 40px;
//   }
// }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  margin-inline: 4rem;
  border-bottom: solid 1px $primary-color;

  &__logo {
    max-width: 6.75rem;
    min-width: 80px;
  }

  &__about, &__work {
    margin-right: 40px;
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: solid 2px $primary-color;

  &__text {
    line-height: 1.3;
    max-width: 580px;
    align-self: flex-start;
  }

  &__button {
    @include button; 
  }


  &__image {
    border-radius: 40px;
    max-width: 35vw;
    align-self: flex-end;
  }

}

.entry-content {

  padding-inline: 240px;

  &__header {
    margin-bottom: 2.5rem;
  }

  &__image {
    border-radius: 40px;
    width: 100%;
    margin-bottom: 3.5rem;
  }
  

  &__info {
    margin-top: 40px;
    font-size: $smaller-body;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

}

.recent-posts {

  &__header {
    margin-bottom: 4rem;
  }

  &__post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px $primary-color;
  }

  &__post:last-child {
    border-bottom: none;
  }

  &__info {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__title {
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &__image {
    max-width: 40%;
    border-radius: 40px;
  }

  // &__body {
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__subhead {
    max-width: 50vw;
  }

  &__button {
    @include button;
    margin-bottom: 40px;
  }

  a {
    padding-bottom: 40px;
  }

}

.selected-work {

  border-bottom: solid 2px $primary-color;

  &__content {
    display: flex;
  }

  &__image {
    width: 50vw;
    margin-right: 64px;
  }

  &__header {
    margin-bottom: 4rem;
  }

  &__billow-img {
    width: 50vw;
    border-radius: 40px;
    margin-bottom: 8px;
  }

  &__caption {
    display: flex;
    justify-content: space-between;
  }

  &__stack {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__number {
    font-size: $smaller-body;
  }

  &__details {
    position: relative;
  }

  &__project-name {
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    align-items: end;
  }

  &__live {
    @include button;
    margin-right: 40px; 
  }

}

.footer {
  background-color: $primary-color;
  padding-inline: 4rem;
  
  &__inner {
    padding-top: 72px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  &__content {
    display: flex;
  }

  &__me {
    border-radius: 40px;
    width: 50vw;
    margin-right: 24px;
  }

  &__about {
    color: $light-color;
  }

  &__p1 {
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__email,
  &__twitter,
  &__archive {
    color: $light-color;
  }

  &__email {
    margin-right: 94px;
  }

  &__archive {
    text-decoration: line-through;
  }
  
}

@media (max-width: 1180px) {
  .entry-content {
    padding-inline: 180px;
  }
}  

@media (max-width: 1130px) {
  :root {
    font-size: 14px;
  }

  body {
    font-size: 18px;
  }
}

@media (max-width: 1030px) {

  .selected-work {

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__project-name {
      margin-top: 8px;
    }

    &__billow-img {
      margin-bottom: 32px;
    }
  
  }

  .recent-posts {

    &__post {
      flex-direction: column-reverse;
    }

    &__body {
      flex-direction: column;
      align-items: flex-start;
    }

    &__image {
      align-self: flex-start;
      margin-bottom: 32px;
    }

    &__subhead {
      padding-bottom: 0px;
      max-width: 75%;
    }

    &__button {
      margin-top: 32px;
    }

    a {
      align-self: flex-start;
      margin-top: 0px;
    }
  }

  .footer {
    &__content {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 24px;
    }

    &__me {
      margin-top: 32px;
    }

  }

}

@media (max-width: 960px) {
  :root {
    font-size: 12px;
  }
  .entry-content {
    padding-inline: 100px;
  }
}

@media (max-width: 840px) {

  :root {
    font-size: 10px;
  }

  .entry-content {
    padding-inline: 64px;
  }
}

@media (max-width: 700px) {

  .entry-content {
    padding-inline: 32px;
  }

  .container {
    margin-inline: 2rem;
  }

  .hero {
    flex-direction: column;

    &__text {
      max-width: 550px;
    }

    &__image {
      align-self: start;
      margin-top: 32px;
    }

  }

  .footer {
    padding-inline: 0px;
  }

}

@media (max-width: 660px) {
  .entry-content {
    margin-inline: 2rem;
    padding-inline: 0px;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 8px;
    $smaller-body: 14px
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 17.5px;
  }

  body {
    font-size: 16px;
  }

  a {
    font-size: 14px;
  }

  .entry-content {
    font-size: 18px;

    &__info {
      font-size: 14px;
    }
  }

  .hero {
    &__button {
      font-size: 14px;
    }

    &__text {
      max-width: 440px;
    }
  }

  .selected-work {
    &__image {
      width: 100%;
    }

    &__billow-img {
      width: 100%;
    }

    &__live {
      font-size: 14px;
    }

    &__stack {
      font-size: 12px;
    }
  }

  .recent-posts {

    &__info {
      font-size: 14px;
    }

    &__button {
      font-size: 14px;
    }

    &__image {
      max-width: 100%;
    }

  }

  .recent-posts {
    &__info {
      font-size: 12px;
    }

    &__subhead {
      max-width: 100%;
    }
  }

  .footer {

    &__me {
      width: 100%;
    }

    &__links {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }

    &__socials {
      display: flex;
      flex-direction: column;
    }

    &__twitter {
      margin-block: 8px;
    }

  }

  @media (max-width: 490px) {

    .header {
      &__about, &__work {
        margin-right: 16px;
      }
    }

    .hero {
      &__text {
        max-width: 360px;
      }
    }
  }

}