@mixin button {
  font-size: $smaller-body;
  display: inline-block;
  margin-top: 24px;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  border: solid 1px $primary-color;
  border-radius: 24px;
  height: fit-content;
}