//colors
$light-color: #f3f5f6;
$dark-color: #272f3a;
$primary-color: #1f5489;

//font-size
$smaller-body: 1rem;

//helpers
.container {
  max-width: 1300px;
  margin-inline: auto;
}

.reg {
  font-weight: 400;
}

.section-padding {
  padding-top: 72px;
  padding-bottom: 120px;
  padding-inline: 4rem;
}


